Repository adam06158014/AIML05_FinalProject, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adam06158014, @j963214765, @hsin0316, @BAICOIUUHGRHBOIH

.github/CODEOWNERS:

# CODEOWNERS
/.github/CODEOWNERS @adam06158014

# Front End
/src/main/webapp/ @j963214765

# Back End
/src/main/java/*.java @hsin0316

# Database
/sql_csv/ @BAICOIUUHGRHBOIH
/src/main/java/database/ @BAICOIUUHGRHBOIH

index.jsp
  build/classes/LoginServlet.class
  build/classes/RobotController.class
  src/main/webapp/RobotController.jsp
  src/main/webapp/css/index.css
  src/main/webapp/images/banner.jpg
Owners: @j963214765

<add robot_service0619.ipynb>
  robot_service/robot_service.ipynb
  robot_service/robot_service0619.ipynb
  robot_service/socket2dk.ipynb
Owners: none

add AI
  robot_service/AI/inception_v3_sample.py
Owners: none

Just update my api
  build/classes/LoginServlet.class
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

Just update five_databases
  five_databases/accounts_passwords.csv
  five_databases/departments.csv
  five_databases/employees.csv
  five_databases/history.csv
Owners: none

check
  five_databases/departments.csv
Owners: none

insertInformationsIntoHistory(xx,xx,xx)
  build/classes/database/API_for_robot.class
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

---->>>RobotController.jsp
  src/main/webapp/RobotController.jsp
Owners: @j963214765

Integrate robot service (AI detecting animal) between Java Servlet and Donkey Car
  robot_service/ImageNetLabels.txt
  robot_service/dept2cat.json
  robot_service/recipient_dept.txt
  robot_service/robot_service.ipynb
  robot_service/rtsp_videocapture.py
Owners: none

add command: 'forward'
  src/main/webapp/RobotController.jsp
Owners: @j963214765

add static IP
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  src/main/java/RobotController.java
  src/main/java/database/API_for_robot.java
  src/main/webapp/RobotController.jsp
Owners: @hsin0316, @BAICOIUUHGRHBOIH, @j963214765

Integrate Java servlet and donkeycar with AI image detecting
  build/classes/database/MySqlAPI.class
  robot_service/delivery_config.json
  robot_service/dept2cat.json
  robot_service/recipient_dept.txt
  robot_service/robot_service.ipynb
  robot_service/test_rtsp.py
  robot_service/unit_test_task.ipynb
Owners: none

change a little bit.
  build/classes/RobotController.class
  src/main/java/RobotController.java
  src/main/webapp/RobotController.jsp
Owners: @hsin0316, @j963214765

just a test
  build/classes/RobotController.class
  src/main/java/RobotController.java
Owners: @hsin0316

new one
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  src/main/java/RobotController.java
  src/main/java/database/API_for_robot.java
  src/main/webapp/RobotController.jsp
Owners: @hsin0316, @BAICOIUUHGRHBOIH, @j963214765

1.LoginServlet.java no modified 2.RobotController.java add history and current time to DB when press.
  build/classes/LoginServlet.class
  build/classes/RobotController.class
  src/main/java/LoginServlet.java
  src/main/java/RobotController.java
Owners: @hsin0316

delete annotation
  build/classes/RobotController.class
  src/main/java/RobotController.java
Owners: @hsin0316

Add files via upload
  build/classes/LoginServlet.class
  build/classes/LogoutServlet.class
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  src/main/java/LoginServlet.java
  src/main/java/RobotController.java
  src/main/java/database/API_for_robot.java
Owners: @hsin0316, @BAICOIUUHGRHBOIH

Add files via upload
  build/classes/LoginServlet.class
  build/classes/LogoutServlet.class
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  five_databases/accounts_passwords.csv
  five_databases/departments.csv
  five_databases/employees.csv
  five_databases/history.csv
  robot_service/AI/inception_v3_sample.py
  robot_service/ImageNetLabels.txt
  robot_service/delivery_config.json
  robot_service/dept2cat.json
  robot_service/recipient_dept.txt
  robot_service/robot_service.ipynb
  robot_service/robot_service0619.ipynb
  robot_service/rtsp_videocapture.py
  robot_service/socket2dk.ipynb
  robot_service/test_rtsp.py
  robot_service/unit_test_task.ipynb
  src/main/java/LoginServlet.java
  src/main/java/LogoutServlet.java
  src/main/java/RobotController.java
  src/main/java/database/API_for_robot.java
  src/main/webapp/RobotController.jsp
  src/main/webapp/css/RobotController.css
  src/main/webapp/css/index.css
  src/main/webapp/images/banner.jpg
Owners: @hsin0316, @BAICOIUUHGRHBOIH, @j963214765

add API
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

add ip
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

turn back
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

delete header nav and css
  src/main/webapp/RobotController.jsp
  src/main/webapp/css/RobotController.css
Owners: @j963214765

update my API
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

css/RobotController.css:
  build/classes/database/API_for_robot.class
  src/main/webapp/css/RobotController.css
Owners: @j963214765

update API
  src/main/java/database/API_for_robot.java
Owners: @BAICOIUUHGRHBOIH

update DATABASE
  five_databases/accounts_passwords.csv
  five_databases/departments.csv
  five_databases/employees.csv
  five_databases/history.csv
Owners: none

add History.java
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  src/main/java/History.java
  src/main/java/RobotController.java
Owners: @hsin0316

function loadDeliveryHistory() { - fetch('./RobotController', { + fetch('./History', {
  src/main/webapp/RobotController.jsp
Owners: @j963214765

add history from MySQL
  src/main/java/History.java
Owners: @hsin0316

delect <div class="filter-options"> function filterTable() {
  src/main/webapp/RobotController.jsp
Owners: @j963214765

add Historical data Descending exponentiation
  src/main/webapp/RobotController.jsp
Owners: @j963214765

no change
  build/classes/LoginServlet.class
  build/classes/RobotController.class
  build/classes/database/API_for_robot.class
  build/classes/database/MySqlAPI.class
  src/main/webapp/RobotController.jsp
Owners: @j963214765

function filterTable(departmentId) ------> function loadDeliveryHistory(departmentId)
  src/main/webapp/RobotController.jsp
Owners: @j963214765
